## Máster en Big Data y Data Science

### Metodologías de gestión y diseño de proyectos de big data

#### AP1 - Limpieza de los datos

---

En esta libreta se realiza una evaluación básica de calidad de los datos del escenario y se ejecutan acciones de limpieza.

In [1]:
# Se importan las librerías necesarias y se suprimen las advertencias
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=UserWarning)

Lectura del mismo dataset inicial

In [2]:
# Lectura de los datos
df = pd.read_csv('../data/raw/bank-additional-full.csv', sep=';')
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Se realizan algunas operaciones de limpieza

In [3]:
df_original = df.copy()

In [4]:
# Se ajustan los nombres de las columnas para que no contengan puntos
df.columns = df.columns.str.replace(".", "_")
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [5]:
# Transformar los valores 'unknown' en NaN
df.replace('unknown', np.nan, inplace=True)
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
# Se verifica la cantidad de valores nulos en cada columna
for col in df.columns:
   print(f"Atributo: {col} - Valores nulos: {df[col].isna().sum()} ({df[col].isna().sum()/len(df)*100:.2f}%)")

Atributo: age - Valores nulos: 0 (0.00%)
Atributo: job - Valores nulos: 330 (0.80%)
Atributo: marital - Valores nulos: 80 (0.19%)
Atributo: education - Valores nulos: 1731 (4.20%)
Atributo: default - Valores nulos: 8597 (20.87%)
Atributo: housing - Valores nulos: 990 (2.40%)
Atributo: loan - Valores nulos: 990 (2.40%)
Atributo: contact - Valores nulos: 0 (0.00%)
Atributo: month - Valores nulos: 0 (0.00%)
Atributo: day_of_week - Valores nulos: 0 (0.00%)
Atributo: duration - Valores nulos: 0 (0.00%)
Atributo: campaign - Valores nulos: 0 (0.00%)
Atributo: pdays - Valores nulos: 0 (0.00%)
Atributo: previous - Valores nulos: 0 (0.00%)
Atributo: poutcome - Valores nulos: 0 (0.00%)
Atributo: emp_var_rate - Valores nulos: 0 (0.00%)
Atributo: cons_price_idx - Valores nulos: 0 (0.00%)
Atributo: cons_conf_idx - Valores nulos: 0 (0.00%)
Atributo: euribor3m - Valores nulos: 0 (0.00%)
Atributo: nr_employed - Valores nulos: 0 (0.00%)
Atributo: y - Valores nulos: 0 (0.00%)

In [7]:
# Se observa la distribución de la columna "default" ya que tiene muchos valores desconocidos (nulos)
df["default"].value_counts(normalize=True)*100

default
no     99.990795
yes     0.009205
Name: proportion, dtype: float64

In [8]:
# Por la poca variedad en los datos y gran cantidad de nulos (20%), se elimina la columna "default"
df.drop(columns=["default"], inplace=True)
df.head(5)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [9]:
# Se hace un filtro para eliminar las filas que tienen valores nulos
df.dropna(inplace=True)

In [10]:
# Se hace un filtro para eliminar las filas duplicadas
duplicados = df.duplicated().sum()
print(f"Registros duplicados: {duplicados}")
df = df.drop_duplicates()

Registros duplicados: 13

In [11]:
# Se imprimen las dimensiones del DataFrame
print(f'El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas.')
print(f'El dataset original tenía {df_original.shape[0]} filas y {df_original.shape[1]} columnas.')
print(f'Se han eliminado {df_original.shape[0] - df.shape[0]} filas y {df_original.shape[1] - df.shape[1]} columnas.')

El dataset tiene 38232 filas y 20 columnas.
El dataset original tenía 41188 filas y 21 columnas.
Se han eliminado 2956 filas y 1 columnas.

In [12]:
# Exportar el DataFrame limpio a un nuevo archivo CSV
df.to_csv('../data/processed/bank-additional-cleaned.csv', index=False)

In [13]:
print("=== Información general ===")
print(df.info())

print("\n=== Resumen estadístico ===")
print(df.describe(include='all'))

=== Información general ===
<class 'pandas.core.frame.DataFrame'>
Index: 38232 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             38232 non-null  int64
 1   job             38232 non-null  object
 2   marital         38232 non-null  object
 3   education       38232 non-null  object
 4   housing         38232 non-null  object
 5   loan            38232 non-null  object
 6   contact         38232 non-null  object
 7   month           38232 non-null  object
 8   day_of_week     38232 non-null  object
 9   duration        38232 non-null  int64
 10  campaign        38232 non-null  int64
 11  pdays           38232 non-null  int64
 12  previous        38232 non-null  int64
 13  poutcome        38232 non-null  object
 14  emp_var_rate    38232 non-null  float64
 15  cons_price_idx  38232 non-null  float64
 16  cons_conf_idx   38232 non-null  float64
 17  euribor3m       38232 non-null  float64
 18  nr_employed     38232 non-null  float64
 19  y               38232 non-null  object
dtypes: float64(5), int64(5), object(10)
memory usage: 6.1+ MB
None

=== Resumen estadístico ===
                 age     job  marital          education housing   loan  \
count   38232.000000   38232    38232              38232   38232  38232
unique           NaN      11        3                  7       2      2
top              NaN  admin.  married  university.degree     yes     no
freq             NaN    9933    23175              11816   20572  32273
mean       39.860196     NaN      NaN                NaN     NaN    NaN
std        10.288582     NaN      NaN                NaN     NaN    NaN
min        17.000000     NaN      NaN                NaN     NaN    NaN
25%        32.000000     NaN      NaN                NaN     NaN    NaN
50%        38.000000     NaN      NaN                NaN     NaN    NaN
75%        47.000000     NaN      NaN                NaN     NaN    NaN
max        98.000000     NaN      NaN                NaN     NaN    NaN

         contact  month day_of_week      duration      campaign         pdays  \
count      38232  38232       38232  38232.000000  38232.000000  38232.000000
unique         2     10           5           NaN           NaN           NaN
top     cellular    may         thu           NaN           NaN           NaN
freq       24431  12791        8006           NaN           NaN           NaN
mean         NaN    NaN         NaN    258.244690      2.567012    963.519591
std          NaN    NaN         NaN    259.822939      2.767826    184.325424
min          NaN    NaN         NaN      0.000000      1.000000      0.000000
25%          NaN    NaN         NaN    102.000000      1.000000    999.000000
50%          NaN    NaN         NaN    180.000000      2.000000    999.000000
75%          NaN    NaN         NaN    319.000000      3.000000    999.000000
max          NaN    NaN         NaN   4918.000000     43.000000    999.000000

            previous     poutcome  emp_var_rate  cons_price_idx  \
count   38232.000000        38232  38232.000000    38232.000000
unique           NaN            3           NaN             NaN
top              NaN  nonexistent           NaN             NaN
freq             NaN        33053           NaN             NaN
mean        0.170067          NaN      0.082873       93.570373
std         0.487242          NaN      1.565872        0.576371
min         0.000000          NaN     -3.400000       92.201000
25%         0.000000          NaN     -1.800000       93.075000
50%         0.000000          NaN      1.100000       93.444000
75%         0.000000          NaN      1.400000       93.994000
max         7.000000          NaN      1.400000       94.767000

        cons_conf_idx     euribor3m   nr_employed      y
count    38232.000000  38232.000000  38232.000000  38232
unique            NaN           NaN           NaN      2
top               NaN           NaN           NaN     no
freq              NaN           NaN           NaN  33975
mean       -40.541740      3.623269   5167.430953    NaN
std          4.622801      1.730224     71.760844    NaN
min        -50.800000      0.634000   4963.600000    NaN
25%        -42.700000      1.344000   5099.100000    NaN
50%        -41.800000      4.857000   5191.000000    NaN
75%        -36.400000      4.961000   5228.100000    NaN
max        -26.900000      5.045000   5228.100000    NaN